<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doner Place</title>
    <link href="static/css/site.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <span class="logo">Doner  Place</span>
        <span class="greeting">Welcome, Pesho! | <a href="#">[logout]</a></span>
        <ul class="menu">
            <li><a class="button" href="index.html">Home</a></li>
            <li><a class="button" href="order-status.html">Order Status</a></li>
            <li><a class="button" href="login.html">Login</a></li>
            <li><a class="button" href="register.html">Register</a></li>
        </ul>
    </header>
    <main>
       {{{body}}}
    </main>
    <footer>Doner Place &copy; 2017</footer>
</div>
</body>
</html>