body {
	padding: 5em;
}

a.button {
	display: inline-block;
	background: green;
	color: #FFF;
	text-decoration: none;
	padding: 0.5rem 0.8rem;
	border-radius: 0.2rem;
}

a.button:hover {
	background: red;
}

a.button:hover i {
	color: #000;
}

a.button.orange {
	background: darkorange;
}
