<div class="info">
    <div class="col">
        <span class="avatar">&#9787;</span>
    </div>
    <div class="col">
        <span class="name">{{firstName}}</span>
        <span class="name">{{lastName}}</span>
    </div>
</div>