body {
	background: #EEE;
	padding: 5rem;
}

body > header:first-of-type {
	border-bottom: 2px solid #000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

header .site-title {
	min-width: 20vw;
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
}

