@media all and (max-width: 960px){
    body #wrapper {
        width: 100%;
    }


    body #wrapper > section article header h1 {
        font-size: 1.5em;
    }

    body #wrapper {
        font-size: 15px;
    }

    body #wrapper > aside {
        display: block;
    }

}

@media all and (max-width: 780px) {
    body #wrapper > header h1 a img {
        height: 44px;
    }
    body #wrapper > header h1 a span {
        margin-left: 20px;
    }

    body #wrapper > header h1 a span {
        display: inline-block;
    }

    body #wrapper > header nav ul {
        justify-content: center;
    }

    body #wrapper > header nav ul li {
        width: 22%;
    }
}


@media all and (max-width: 640px) {
    body #wrapper > header nav ul li {
        width: 100%;
    }
    body #wrapper > header h1 a img {
        margin: 0 auto;
    }

    body #wrapper {
        display: flex;
        flex-flow: column wrap;

    }

    body #wrapper > header h1 a span {
        display: inline-block;
        margin: 0 auto;
    }

    body #wrapper > section {
    width: 100% }


    body #wrapper {
    margin: 0 auto;

}

    body #wrapper > aside {
        flex-flow: row nowrap;
        width: 100%;
    }

    body #wrapper > aside > div {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        height: 228px;
    }

}

@media all and (max-width: 480px) {
    body #wrapper > aside > div {
        display: block;
        width: 100%;
    }



}