<h2>Регистрация</h2>
<form action="#/register" method="POST">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label" for="username">Потребител</label>
                <input class="form-control" id="username" name="username" type="text">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password">Парола</label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="firstName">Име</label>
                <input class="form-control" id="firstName" name="first_name" type="text">
            </div>
            <div class="form-group">
                <label class="form-control-label" for="lastName">Фамилия</label>
                <input class="form-control" id="lastName" name="last_name" type="text">
            </div>
            <input type="submit" class="btn btn-primary" value="Регистрация" />
        </div>
    </div>
</form>