@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body {
    background-color: #EBEBEB;
    margin: 0 auto;
    width: 70%;
    font-family: 'Tahoma', 'Helvetica', sans-serif;
    font-size: 13px;
}

.site-header h1 {
    padding: 25px 18px;
    font-family: 'Tahoma', 'Helvetica', sans-serif;
    color: #479ED4;
    font-size: 28px;
    background-color: #F1F1F1;
    border-bottom: thin dashed #D8D8D8;
    width: 100%;
    height: 29px;
}

.information {
    width: 69%;
}

article {
    display: inline-block;
    vertical-align: top;
}

.search::before {
    font-family: FontAwesome, serif;
    position: relative;
    content: '\f002';
    right: -138px;
    top: 67px;
    font-size: 16px;
}

.info {
    border-bottom: thin dashed #D8D8D8;
}

.details > label > input {
    padding: 5px;
    margin-bottom: 10px;
    display: block;
}

.reservation {
    display: inline-block;
    border-bottom: thin dashed #D8D8D8;

}

.request {
    float: right;
    width: 62%;
}

.request > label {
    width: 224px;
    display: inline-block;
}

.selection {
    margin-top: 10px;
    width: 209px;
    margin-bottom: 10px;

}

.request > span {
    padding-bottom: 15px;
}

.number > input {
    margin-top: 10px;
}

.check > input {
    margin-top: 10px;
}

.check-span {
    margin-top: 10px;
}

button {
    float: right;
    background-color: #3BBC96;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 8px 15px;
    width: 109px;
    height: 35px;
    font-weight: bold;
    margin-top: 25px;
    margin-right: 35px;
}