{{> header}}
<h1>Create movie</h1>
<form action="#/movie/create" method="POST">
  <label>Title</label>
  <input type="text" name="title">
  <label>Image Url</label>
  <input type="text" name="imageUrl">
  <label>Description</label>
  <textarea type="text" name="description"></textarea>
  <label>Genres</label>
  <input type="text" name="genres">
  <label>Available Tickets</label>
  <input type="number" name="tickets">
  <input type="submit" value="Create">
</form>
{{> footer}}