<div class="content">
    {{#each contacts}}
        <div class="contact" id="{{this.email}}">
            <span class="avatar small">&#9787;</span>
            <span class="title">{{this.firstName}} {{this.lastName}}</span>
        </div>
    {{/each}}
</div>