<div class="content">
    <div class="info">
        <div class="col">
            <span class="avatar">&#9787;</span>
        </div>
        <div class="col">
            <span class="name">{{this.firstName}}</span>
            <span class="name">{{this.lastName}}</span>
        </div>
    </div>
    <div class="info">
        <span class="info-line">&phone; {{this.phone}}</span>
        <span class="info-line">&#9993; {{this.email}}</span>
    </div>
</div>