.page {
	overflow: hidden;
}

.page > header:first-of-type {
	overflow: hidden;
}

.page > header:first-of-type nav {
	float: right;
}

.page main,
.page aside {
	float: left;
}

.page main {
	width: 70%;
}

.page aside {
	width: 30%;
}

main article {
	padding-right: 2rem;
}

aside section {
	padding-left: 4rem;
}
